
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.disk-usage-box{
  margin-bottom: 20px;
}
.img-box{
  width: 50%;
  float:left;
}
.gallery-item{
  width: 80%;
  margin: 10%;
}
.gallery-box{
  background: #FFF;
    width: 100%;
    height: 100%;
    margin: 30px 0px;
}
